<div class="jumbotron">
    <div class="container">
        <h1>API Workshop</h1>
        <p class="lead">
            Reference material for API workshop.<br>
            <strong>Author:</strong> Austin Turner - <a href="mailto:austin.turner@atginfo.com">austin.turner@atginfo.com</a><br>
            <strong>Updated:</strong> 2016-10-30<br>
            <strong>File Bugs:</strong> <a href="https://github.com/paustint/api-demo/issues" target="_blank" >Github issues</a><br>
        </p>
    </div>
</div>
<div class="container">