<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://www.atginfo.com" target="_blank">
          <img alt="Brand" src="/images/ATG_Logo.png" height="40px">
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/paustint/api-demo" target="_blank" ><img src="/images/github_icon.png" alt="view on gtihub" width="30px" height="30px" title="View project on github"> View on Github</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>