<!DOCTYPE html>
<html lang="en">
  {{>head}}

  <body>
    <!--nav-->
    {{>nav}}
    <!--actual contents-->
    <div class="container" style="padding-top: 100px;">
      <div style="center-block">
        <img src="/images/404.jpg" alt="404 error, page not found">
      </div>
      
    </div><!-- /.container -->
    {{>footjs}}
  </body>
</html>
